<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>email</param-name>
        <param-value>jstudzinski1@my.wctc.edu</param-value>
    </context-param>
    <!-- Begin Spring-specific configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <!-- END Spring configuration -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>edu.wctc.jss.heroartadminservice.controller.AdminController</servlet-class>
        <init-param>
            <param-name>productDao</param-name>
            <param-value>edu.wctc.jss.heroartadminservice.model.ConnectionPoolProductDao</param-value>
        </init-param>
        <init-param>
            <param-name>driverClass</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/ecom_db</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>dbStrategy</param-name>
            <param-value>edu.wctc.jss.heroartadminservice.model.MySqlDb</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DistributorController</servlet-name>
        <servlet-class>edu.wctc.jss.heroartadminservice.controller.DistributorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorController</servlet-name>
        <url-pattern>/DistributorController</url-pattern>
    </servlet-mapping>
    
    <!-- Add for Spring REST -->
    <servlet>
        <servlet-name>exporter</servlet-name>
        <servlet-class>org.springframework.data.rest.webmvc.RepositoryRestDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>exporter</servlet-name>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>
    <!-- end spring rest -->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
